@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Poppins','sans-serif';
}

#ball {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(cyan, blue);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.fixed{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2em;
  z-index: 100;
  background-color: cyan;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
}